Name : Swathi R

Email id: swathihreddy19@gmail.com

Assignment : Python - Data Structure

1. What are data structures, and why are they important?

Ans: Data structure is the process of organizing ,stroing the data. so , that we can access and manipulate it efficiently.

2. Explain the difference between mutable and immutable data types with examples?

Ans: Mutable - we can chnage the data
eg:lists,dictionaries

Immutable - we can't change the data
eg:tuples,strings

3. What are the main differences between lists and tuples in Python?

Ans: lists are mutable and tuples are immutable and lists are stored inside[]and tuples are stored inside()

4. Describe how dictionaries store data?

Ans: dictionaries stores data in the form of key-value pair.were it uses hash table where keys are hased and corresponding values are stored in memory.

5. Why might you use a set instead of a list in Python?

Ans: To remove the duplicate elements as sets only allows unique elements and remove the duplicate elements

6. What is a string in Python, and how is it different from a list?

Ans: String is an sequence of characters enclosed within single or double characters .
string is immutable and list are mutable.

7. How do tuples ensure data integrity in Python?

Ans: tuples are immutable , hence we can't change the data .so it helps to keep the data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans:In data structure hash table maps keys to values using hasing function.
dictionaries are related to hash table as it uses hash table to store and retrive the data.

9. Can lists contain different data types in Python?

Ans: Yes, we can store any type of data in list like string, int,float etc...

10. Explain why strings are immutable in Python?

Ans: Strings are immutable because we can't change the individual characters of string .

11. What advantages do dictionaries offer over lists for certain tasks?

Ans: key value storage.
in list we can access the elements using the index of the elements and in dictionaries we can access the element using the keys.

12. Describe a scenario where using a tuple would be preferable over a list?

Ans: When we don't need to change the data later we want to keep it constant. we will store those kinds of data in tuples.as tuples are immutable .

13. How do sets handle duplicate values in Python?

Ans: Sets authomatically removes the duplicate values inside it.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans: In lists it checks elements sequentialy , and in dictionaries it uses hashing to check the elements.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans: No , we can't modify the elements inside the tuples. tuples are immutable we can't change the data.

16. What is a nested dictionary, and give an example of its use case?

Ans: A dictionary containing another dictionary as value.
use case: restaurent menu

17. Describe the time complexity of accessing elements in a dictionary?

Ans: 0(1) time complexity for hashing

18. In what situations are lists preferred over dictionaries?

Ans: When ever we need to store the sequentical data and need to retrieve it sequential we prefer lists ,as lists ordered collection of elements.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Dictionaries uses hasing , storing elements in arbitary order but it provides fast retrivals.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans: lists uses index to access the elements were as dictionaries uses values to access the elements.
lists doesn't allow key value pair to store the data. dictionaries uses key value pair to store the data.

In [ ]:
#practicals-
#1. Write a code to create a string with your name and print it

name="Swathi R"
print(name)

Swathi R

In [ ]:
#2.  Write a code to find the length of the string "Hello World"

print(len("Hello World"))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
name="python programming"
print(name[0:3])

pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

print("hello".upper())

HELLO

In [ ]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
fruit="I like apple"
print(fruit)
print(fruit.replace("apple","orange")) #replacing

I like apple
I like orange

In [ ]:
#6.  Write a code to create a list with numbers 1 to 5 and print it

list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1=['a','b','c','d']
print(list1[1])

b

In [ ]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].

list1=[10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1=('red','green','blue','yellow')
print(tuple1[1:])

('green', 'blue', 'yellow')

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple1 =(10,20,5,15)
minimum_number = min(tuple1)
print(minimum_number)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1=('dog','cat','rabbit')
print(tuple1.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple1=("apple","mango","kiwi")

print("kiwi" in tuple1)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1={'a','b,','c'}
print(set1)

{'a', 'b,', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1,2,3}
set2={3,4,5}
set3=set1 | set2
print(set3)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set3=set1 & set2
print(set3)

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic={"name":"Swathi","age":24,"city":"KGF"}
print(dic)
print(dic.keys()) #prints only keys

{'name': 'Swathi', 'age': 24, 'city': 'KGF'}
dict_keys(['name', 'age', 'city'])

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dect={"name":"John","age":25}
print(dect)
dect["country"]="USA"
print(dect)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

de={'name':'Alice','age':30}
print(de["name"])

Alice

In [ ]:

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic["age"]
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict={'name': 'Alice', 'city': 'Paris'}

for i in dict:
  if i == 'city':
    print(f"{i} exists in dict")
#or
print("city" in dict)

city exists in dict
True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list1=[1,2,3,4,5,"Hello"]
tuple1=(1,2,3,4,5,"Hello")
dictionary1={"num":10,"hero":"PK","city":"KGF"}
print(list1)
print(tuple1)
print(dictionary1)

[1, 2, 3, 4, 5, 'Hello']
(1, 2, 3, 4, 5, 'Hello') <class 'tuple'>
{'num': 10, 'hero': 'PK', 'city': 'KGF'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

lis= [99,54,9,19,59]
print(lis)
print(sorted(lis))

[99, 54, 9, 19, 59]
[9, 19, 54, 59, 99]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

lis=["swathi","how are you","doing","today","hope you are good"]
print(lis[3])

today

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

dic1={"fav_color":"black","fav_place":"xyz"}
dic2={"fav_day":"nov 6th","fav_hero":"PK"}
dic3=dic1|dic2 #adding 2 dictionary
print(dic3)

{'fav_color': 'black', 'fav_place': 'xyz', 'fav_day': 'nov 6th', 'fav_hero': 'PK'}

In [ ]:
#30. Write a code to convert a list of strings into a set

lists=["fruits","vegetables","sugar"]
set1=set(lists)
print(set1)

{'fruits', 'sugar', 'vegetables'}
('fruits', 'vegetables', 'sugar')